.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
}
.time-info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* CURRENT WEATHER DISPLAY */
.current-weather {
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 250px;
}

.current-info {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.current-icon {
  grid-column: 1;
  width: 100px;
  height: 100px;
}
.current-mid {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.current-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /*align-items: center;*/
  padding: 15px;
}
@media (max-width: 768px) {
  .current-info {
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
  }

  .current-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }

  .current-mid {
    grid-template-rows: auto;
  }
}

.current-temp {
  grid-row: 1;
}
.current-condition {
  grid-row: 2;
}

.night {
  background-image: url("nightImg2.png");
}

.day {
  background-image: url("dayImg2.png");
}

/* HOURLY WEATHER DISPLAY */
.carousel {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgb(225, 221, 221);
  padding: 10px;
  /*max-width: 90%; /* responsive width */

  width: 600px;
  margin: 10px;
  border-radius: 5px;
}

.hourly-group {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  width: 650px; /* space to show around 6 cards */
  gap: 10px;
}

.hour-card {
  flex: 0 0 100px; /* don’t shrink, width defined by content */
  text-align: center;
  background: #ffffff;
  border-radius: 8px;
  padding: 10px;
}

.hour-time {
  font-weight: 800;
}
